body {
    background-image: url(IMG-20200910-WA0003.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.marker {
    background-color: black;
    max-width: 400px;
    margin: 50px green;
    border: 10px whitesmoke;
    padding: 10px;
    color: red;
}
.about {
    background-color: azure;
    width: 500px;
    margin: 20px red;
    color: cornflowerblue;
    padding: 10px;
    border: 20px;
}
.work {
    width: 40vw;
    height: 40vh;
    background-color: blue;
    color: coral;
}
.address {
    width: 100vw;
    height: 15vh;
    color: blueviolet;
    background-color: black;
    margin: 20px white;
}
.contact {
    width: 100vw;
    height: 25vh;
    color: blue;
    background-color: bisque;
}
.copyright {
    width: 100vw;
    height: 5vh;
    color: goldenrod;
    background-color: grey;
    margin: 10px red;
}